.container-bez {
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .body-bez{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    /* background-color: paleturquoise; */
    justify-content: center;
    align-items: center;
  }
  


  
  
  

  
  .line-bez{
    height: 2px;
    margin-bottom: 20px;
    width: 70%;
    position: relative;
  }
  
  .line-bez svg{
    width: 100%;
    height: 500px;
    position: absolute;
    top: -250px;
  }
  
  .line-bez svg path{
    /* stroke: green; */
    stroke-width: 2px;
    fill: none;
  }
  
  .line-bez .box-bez{
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
  }
  
  .line-bez .box-bez:hover{
    height: 500px;
    top: -250px;
  }