.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid black; */
    /* border-left: 2px solid black; */
    /* border-right: 2px solid black; */
}